* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: linear-gradient( #4417a4, black);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    margin: 1em auto;
    width: 950px;
}

td, th {
    background-color: white;
    padding: 8px;
    text-align: left;
}

p {
    font-size: small;
    display: inline;
}

.ActorPhoto {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    
}

.ActorPhotoContainer {
    width: 15%;
}

.Role {
    color: blue;
    font-style: italic;
    width: 25%;
}

.DiscList {
    list-style-type: disc;
    list-style-position: inside;
}

.h2 {
    font-size: large;
}

#MainTitle {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
}

#Synopsis {
    font-size: large;
}

#Distribution {
    background-color: blue;
    color: white;
    text-align: left;
    font-size: large;
}

#CoverContainer {
    width: 60%;
}

#Cover {
    margin: auto;
    display: block;
    max-width: 600px;
}

#actor1 {
    background-image: url(../images/Felix_Kammerer.jpg);
}

#actor2 {
    background-image: url(../images/Albrecht_Schuch.jpg);
}

#actor3 {
    background-image: url(../images/Aaron_Hilmer.jpg);
}

#actor4 {
    background-image: url(../images/Moritz_Klaus.jpg);
}

#actor5 {
    background-image: url(../images/Edin_Hasanovic.jpg);
}

#actor6 {
    background-image: url(../images/Daniel_Bruhl.jpg);
}

#actor7 {
    background-image: url(../images/Devid_Striesow.jpg);
}